<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<div class="container">
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Welcome coding4startups.com WebApp</h2>
    <!--Section description-->
    <h3 class="text-center w-responsive mx-auto mb-5">Hi, I am sure this course will make a lasting impact on your career.
    </h3>
    {% csrf_token %}
    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="home" action="{% url 'home' %}" method="POST">
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-4">
                        <div class="md-form mb-0">
                            <input type="text" id="Course" name="Course" class="form-control">
                            <label for="Course" class=""><h5>Course</h5></label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                                        <!--Grid column-->
                    <div class="col-md-4">
                        <div class="md-form mb-0">
                            <input type="text" id="Subject" name="Subject" class="form-control">
                            <label for="Subject" class=""><h5>Subject</h5></label>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="md-form mb-0">
                            <input type="number" id="Rating" name="Rating" class="form-control">
                            <label for="Rating" class=""><h5>Rating</h5></label>
                        </div>
                    </div>    <!--Grid row-->
                </div>
            <div class="text-left text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();"><h4>Save</h4></a>
            </div>
            <div class="status"></div>
        </div>
    </div>
</div>
</section>
<!--Section: Contact v.2-->
{% csrf_token %}